.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
    grid-template-rows: 20% 20% 20% 20% 20% 20%;
    grid-template-areas: 
    'map map map image'
    'map map map image'
    'map map map buttons'
    'map map map buttons'
    'score score score score';  
    justify-content: space-between;	
}

.map-view{
    grid-area: map;
}

.image-view{
    grid-area: image;
    text-align: center;
}
.buttons-view{
    grid-area: buttons;
    text-align: center;
}

.score-view{
    grid-area: score;
    text-align: center;
}

.imagen{
    height: 38vh;
    width: 48vh;
}

button{
    height: 30px;
    width: 150px;
    margin-top: 10%;
}