html {
  height: auto;
}

body {
  height: auto;
  margin: 0;
  padding: 0;
}

#marco_mapa {
  height: auto;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top:0;
}

@media print {
  #marco_mapa {
    height: 950px;
  }
}